.expenses_item {
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    background-color: rgb(65, 84, 227);
    max-width: 95%;
    /* box-shadow: 0 1px 8px rgba(10, 54, 212, 0.316);
    border-radius: 12px;  commented out these two css styles 
    is because created a new custom component in the comp.css file */
  }
  .no_expense{ 
    color: white;
    width: min(100%-2rem, 600px);
    margin-inline:auto;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }